@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

@use "./partials/_AppHeader";

@use "./partials/_AppFooter";

@use "./partials/_MusicLife";

@use "./partials/_InfoBrand";

@use "./partials/_LatestBrand";

@use "./partials/_InfoAlbum";

@use "./partials/_LiveDates";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

#view_news, #view_dates {
  background-color: #ea4e56;
  color: white;
}
