@use "../../../node_modules/bootstrap/scss/bootstrap.scss";

#music_life {
  background-color: #6b6b6c;
  h2 {
    color: white;
  }

  .light_gray {
    color: #aeaeaf ;
  }
}

#latest_brand {
    background-color: #292d39;
    margin: -16px;
  
    h2 {
      color: white;
      margin: 20px;
    }
  
    .light_gray {
      color: #aeaeaf;
    }
  }