#info_album {
  background-image: url(../img/home-testimonial-parallax.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 1000px;
  width: 100%;
  .card {
    border: none;
  }
}