#music_life {
  background-color: #6b6b6c;
  h2 {
    color: white;
  }
  .light_gray {
    color: #aeaeaf;
  }
  hr{
    margin: 3rem auto;
  }
  .red_border{
    height: 20px;
    background-color: red;
    width: 20%;
    margin: auto;
    position: absolute;
    top:0;
    right: 40%;
    
  }
}
